<div>
    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">{{ cardTitle }}</h3>
        <div class="chart-wrapper">
          <ngx-charts-gauge
            *ngIf="data?.length"
            [scheme]="colorScheme"
            [results]="data[0].statistics"
            [min]="0"
            [max]="data[0].additional.total"
            [angleSpan]="180"
            [startAngle]="-90"
            [bigSegments]="1"
            [smallSegments]="0">
          </ngx-charts-gauge>
        </div>
    </div>
</div>
