<div>
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    <h3 class="uk-card-title">{{ cardTitle }}</h3>
    <div class="chart-wrapper">
      <ngx-charts-pie-chart
        *ngIf="data?.length"
        [scheme]="colorScheme"
        [results]="data[0]?.statistics"
        [labels]="false"
        [doughnut]="true">
      </ngx-charts-pie-chart>
      <div class="total-users" *ngIf="data?.length">
        <div>
          {{ total }}
        </div>
        <div>
          <label>Total</label>
        </div>
      </div>
    </div>
  </div>
</div>
