<div>
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    <h3 class="uk-card-title">{{ cardTitle }}</h3>
    <div class="chart-wrapper" [ngStyle]="wrapperStyle">
      <ngx-charts-line-chart
        *ngIf="data?.length"
        [scheme]="colorScheme"
        [results]="data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
