@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}

:host {
  height: inherit;
  display: block;
}

.table-wrapper {
  position: relative;
  height: inherit;
  overflow-y: hidden;
}

.uk-card {
  height: inherit;
  overflow: hidden;
}

ngx-datatable {
  left: 0;
  min-height: 340px;
  width: 100%;
  height: 100%;
}
